{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="header__logo">
  <header class="header {{modifier_class}} clearfix" role="banner">
    {% if site_logo %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="header__logo-image"/>
    {% endif %}
      <div class="header__name-and-slogan">
      {% if site_name %}
        <h1 class="header__site-name">
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="header__site-link">{{ site_name }}</a>
        </h1>
      {% endif %}
      {% if site_slogan %}
        <div class="header__site-slogan">{{ site_slogan }}</div>
      {% endif %}
      </div>
  </header>
</a>
{% endblock %}
